:root {
  /* Colores principales */
  /*--color-fondo: #FDF9F3;*/
  /*--color-felicidad: #FFC300;
  --color-datos-contraste: #FF9505;
  --color-bienestar-social: #F08080;

    /* Colores principales */
  --color-fondo: #FDF9F3;
  --color-felicidad: #fbd75f;
  --color-datos-contraste: #f8af4a;
  --color-bienestar-social: #f7b19f;
  
  /* Colores auxiliares */
  --color-texto: #171a21;
  --color-texto-secundario: #19202b;
  --color-borde: #E2E8F0;
  --color-sombra: rgba(0, 0, 0, 0.1);
  --color-fondo-tarjeta: #FFFFFF;
  
  /* Estados */
  --color-hover: rgba(255, 195, 0, 0.1);
  --color-activo: rgba(255, 149, 5, 0.2);
}

/* Clases de utilidad para fondos */
.bg-felicidad { background-color: var(--color-felicidad); }
.bg-datos-contraste { background-color: var(--color-datos-contraste); }
.bg-bienestar-social { background-color: var(--color-bienestar-social); }
.bg-fondo { background-color: var(--color-fondo); }
.bg-tarjeta { background-color: var(--color-fondo-tarjeta); }

/* Clases de utilidad para texto */
.text-felicidad { color: var(--color-felicidad); }
.text-datos-contraste { color: var(--color-datos-contraste); }
.text-bienestar-social { color: var(--color-bienestar-social); }
.text-primario { color: var(--color-texto); }
.text-secundario { color: var(--color-texto-secundario); }

/* Clases de utilidad para bordes */
.border-felicidad { border-color: var(--color-felicidad); }
.border-datos-contraste { border-color: var(--color-datos-contraste); }
.border-bienestar-social { border-color: var(--color-bienestar-social); }
.border-base { border-color: var(--color-borde); }

/* Estados interactivos */
.hover-felicidad:hover { background-color: var(--color-hover); }
.activo-datos-contraste:active { background-color: var(--color-activo); }